/* base.css */
* {
    box-sizing: border-box;

}

body {
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.row, .cell, .container {
    margin: 5px;
    padding: 5px;
}
   
.container {
    margin: 0 auto;
    max-width: 1200px;
    background-color: bisque;
}
   

