/* header.css */
    .header__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
   }

   .header__logo {
     width: 30%;
    }

    .header__logo--image{
        border:5px solid black;
        background-size: contain;
  
    }
    
    
   .header__nav {
    min-width: 700px;
    }

    .nav {
    background: rgb(0, 200, 250);
    display: flex;
    padding: 20px;
    }

   .nav__item {
    padding: 0 5px;
    margin-left:0;
    position: relative;
    list-style-type: none;
    margin-right: 0.5rem;
   }
   

   .nav__dropdown {
    display: none;
    position: relative;
    padding-top: 20px;
    list-style-type: none;
   }

   .dropdown__item {
    min-width: 100px; 
    text-align: left;
    }

   .nav__item:hover > .nav__dropdown {
    display: block;
    left: 0;
    }

   
   
 
   