/* header.css */
.header__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    padding: 0;
   }
   .header__logo {
    min-width: 200px;
    background-color: orange;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    
   }
   .header__nav {
    min-width: 400px;
    background-color: orange;
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
   }


